jobs:
  qa:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - name: Cache Yarn
        uses: actions/cache@v4
        with:
          path: ~/.yarn/berry
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock', '.yarnrc.yml') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: 'Install dependencies (Yarn)'
        run: 'yarn'
      - name: 'Check formatting'
        run: 'yarn check-formatting'
      - name: 'Check spelling'
        run: 'yarn check-spelling'
name: 'QA'
'on':
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
permissions:
  contents: 'read'
